{{!--
  Renders the HTML head content
--}}
<title>{{info.title}} | API Reference</title>
<style>{{{foundation_css}}}</style>
<style>{{{spectacle_css}}}</style>
<!--<link rel="stylesheet" href="stylesheets/foundation.min.css" />-->
<!--<link rel="stylesheet" href="stylesheets/spectacle.min.css" />-->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--<script src="javascripts/foundation.js"></script>-->
<script>{{{spectacle_js}}}</script>
